{%- assign left_url = include.left | relative_url -%}
{%- assign right_url = include.right | relative_url -%}
<figure class="{{ 'fig-entry' | append: ' ' | append: include.style | strip }}" id="{{ include.id }}">
    <div class="juxtapose" data-startingposition="{{ include.start-position }}">
        <img src="{{ left_url }}" data-label="{{ include.left-label }}" alt="{{ include.left-label }}" {% imagesize left_url:props %}>
        <img src="{{ right_url }}" data-label="{{ include.right-label }}" alt="{{ include.right-label }}" {% imagesize right_url:props %}>
    </div>
    {%- if include.caption -%}<figcaption markdown="span">{{ include.caption }}</figcaption>{%- endif -%}
</figure>
