@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rtqllf');
  src:  url('fonts/icomoon.eot?rtqllf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rtqllf') format('truetype'),
    url('fonts/icomoon.woff?rtqllf') format('woff'),
    url('fonts/icomoon.svg?rtqllf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icomoon [class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-weight: normal !important;
}

.icon-codemasters:before {
  content: "\e900";
}
.icon-gtaf:before {
  content: "\e901";
}
