<div class="posts page-content">
  {% for post in paginator.posts %}
  <section>
    <h2 class="heading-big">
      <a href="{{ post.url | relative_url }}">
        {% if post.thumbnail %}
        <span class="post-img">
          {%- assign image_url = post.thumbnail | relative_url %}
          <img src="{{ image_url }}" alt="" {% imagesize image_url:props %}>
        </span>
        {% endif %}
        {{ post.title | smartify }}
      </a>
    </h2>
    <p class="meta">
      {{ post.date | date: "%B %-d, %Y" }}
      {% if post.last_modified_at %}(edited {{ post.last_modified_at | date: "%B %-d, %Y" }}){% endif %}
    </p>
    <p class="meta">
      {% include_cached ert.html document=post %} min read
    </p>
    <div class="excerpt">
      {{- post.excerpt | markdownify -}}
    </div>
  </section>
  {% endfor %}
</div>
