<div class="posts">
  {% for post in paginator.posts %}
  <div class="post-teaser">
    {% if post.thumbnail %}
    <div class="post-img">
       <a href="{{ post.url | relative_url }}">
         <img src="{{ post.thumbnail | relative_url }}">
       </a>
    </div>
    {% endif %}
    <span>
        <header>
          <h1>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | markdownify | strip_html }}
            </a>
          </h1>
          <p class="meta">
            {{ post.date | date: "%B %-d, %Y" }}
          </p>
          <p class="meta">
            {% include ert.html content=post.content %} min. to read
          </p>
        </header>
        <div class="excerpt">
            {{ post.excerpt | strip_html | escape }}
        </div>
    </span>
  </div>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
    <span class="nav-left" style="{% unless paginator.previous_page %}visibility:hidden{% endunless %}">
      <a href="{{ "/" | relative_url }}" style="{% unless paginator.previous_page != 1 %}visibility:hidden{% endunless %}" class="button">
        <i class="fas fa-angle-double-left"></i>
      </a>
      <a href="{{ paginator.previous_page_path | relative_url }}" class="button">
        <i class="fas fa-angle-left"></i>
        {{ site.theme_settings.str_previous_page }}
      </a>
    </span>
    {{ paginator.page }} / {{ paginator.total_pages }}
    <span class="nav-right" style="{% unless paginator.next_page %}visibility:hidden{% endunless %}">
      <a href="{{ paginator.next_page_path | relative_url }}" class="button">
        {{ site.theme_settings.str_next_page }}
        <i class="fas fa-angle-right"></i>
      </a>
      <a href="{{ site.paginate_path | relative_url | replace: ':num', paginator.total_pages }}" style="{% unless paginator.next_page != paginator.total_pages %}visibility:hidden{% endunless %}" class="button">
        <i class="fas fa-angle-double-right"></i>
      </a>
    </span>
</div>
{% endif %}
