{%- if site.theme_settings.rss %}
<li>
	<a href="{{ "feed.xml" | absolute_url }}">
		<span class="fa-stack fa-lg" aria-hidden="true" title="{{ site.theme_settings.str_rss_follow | escape }}">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-rss fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">{{ site.theme_settings.str_rss_follow }}</span>
	</a>
</li>
{%- endif -%}

{%- if site.theme_settings.email_address %}
<li>
	<a target="_blank" href="mailto:{{ site.theme_settings.email_address }}">
		<span class="fa-stack fa-lg" aria-hidden="true" title="{{ site.theme_settings.str_email | escape }}">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">{{ site.theme_settings.str_email }}</span>
	</a>
</li>
{%- endif -%}

{%- if site.theme_settings.behance %}
<li>
	<a rel="me" target="_blank" href="https://www.behance.net/{{ site.theme_settings.behance }}">
		<span class="fa-stack fa-lg" aria-hidden="true" title="{{ site.theme_settings.str_follow_on | escape }} Behance">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-behance fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">{{ site.theme_settings.str_follow_on }} Behance</span>
	</a>
</li>
{%- endif -%}

{%- if site.theme_settings.bitbucket %}
<li>
	<a rel="me" target="_blank" href="https://bitbucket.org/{{ site.theme_settings.bitbucket }}">
		<span class="fa-stack fa-lg" aria-hidden="true" title="{{ site.theme_settings.str_follow_on | escape }} Bitbucket">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-bitbucket fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">{{ site.theme_settings.str_follow_on }} Bitbucket</span>
	</a>
</li>
{%- endif -%}

{%- if site.theme_settings.dribbble %}
<li>
	<a rel="me" target="_blank" href="https://dribbble.com/{{ site.theme_settings.dribbble }}">
		<span class="fa-stack fa-lg" aria-hidden="true" title="{{ site.theme_settings.str_follow_on | escape }} Dribbble">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-dribbble fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">{{ site.theme_settings.str_follow_on }} Dribbble</span>
	</a>
</li>
{%- endif -%}

{%- if site.theme_settings.facebook %}
<li>
	<a rel="me" target="_blank" href="https://www.facebook.com/{{ site.theme_settings.facebook }}">
		<span class="fa-stack fa-lg" aria-hidden="true" title="{{ site.theme_settings.str_follow_on | escape }} Facebook">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">{{ site.theme_settings.str_follow_on }} Facebook</span>
	</a>
</li>
{%- endif -%}

{%- if site.theme_settings.flickr %}
<li>
	<a rel="me" target="_blank" href="https://www.flickr.com/photos/{{ site.theme_settings.flickr }}">
		<span class="fa-stack fa-lg" aria-hidden="true" title="{{ site.theme_settings.str_follow_on | escape }} Flickr">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-flickr fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">{{ site.theme_settings.str_follow_on }} Flickr</span>
	</a>
</li>
{%- endif -%}

{%- if site.theme_settings.discord %}
<li>
	<a rel="me" target="_blank" href="https://discord.gg/{{ site.theme_settings.discord }}">
		<span class="fa-stack fa-lg" aria-hidden="true" title="{{ site.theme_settings.str_discord | escape }}">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-discord fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">{{ site.theme_settings.str_discord }}</span>
	</a>
</li>
{%- endif -%}

{%- if site.theme_settings.github %}
<li>
	<a rel="me" target="_blank" href="https://github.com/{{ site.theme_settings.github }}">
		<span class="fa-stack fa-lg" aria-hidden="true" title="{{ site.theme_settings.str_follow_on | escape }} GitHub">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-github fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">{{ site.theme_settings.str_follow_on }} GitHub</span>
	</a>
</li>
{%- endif -%}

{%- if site.theme_settings.instagram %}
<li>
	<a rel="me" target="_blank" href="http://instagram.com/{{ site.theme_settings.instagram }}">
		<span class="fa-stack fa-lg" aria-hidden="true" title="{{ site.theme_settings.str_follow_on | escape }} Instagram">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">{{ site.theme_settings.str_follow_on }} Instagram</span>
	</a>
</li>
{%- endif -%}

{%- if site.theme_settings.keybase %}
<li>
	<a rel="me" target="_blank" href="https://keybase.io/{{ site.theme_settings.keybase }}">
		<span class="fa-stack fa-lg" aria-hidden="true" title="{{ site.theme_settings.str_follow_on | escape }} Keybase">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-key fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">{{ site.theme_settings.str_follow_on }} Keybase</span>
	</a>
</li>
{%- endif -%}

{%- if site.theme_settings.linkedin %}
<li>
	<a rel="me" target="_blank" href="{{ site.theme_settings.linkedin }}">
		<span class="fa-stack fa-lg" aria-hidden="true" title="{{ site.theme_settings.str_follow_on | escape }} LinkedIn">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">{{ site.theme_settings.str_follow_on }} LinkedIn</span>
	</a>
</li>
{%- endif -%}

{%- if site.theme_settings.pinterest %}
<li>
	<a rel="me" target="_blank" href="http://www.pinterest.com/{{ site.theme_settings.pinterest }}">
		<span class="fa-stack fa-lg" aria-hidden="true" title="{{ site.theme_settings.str_follow_on | escape }} Pinterest">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-pinterest fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">{{ site.theme_settings.str_follow_on }} Pinterest</span>
	</a>
</li>
{%- endif -%}

{%- if site.theme_settings.reddit %}
<li>
	<a rel="me" target="_blank" href="https://www.reddit.com/user/{{ site.theme_settings.reddit }}">
		<span class="fa-stack fa-lg" aria-hidden="true" title="{{ site.theme_settings.str_follow_on | escape }} Reddit">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-reddit fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">{{ site.theme_settings.str_follow_on }} Reddit</span>
	</a>
</li>
{%- endif -%}

{%- if site.theme_settings.soundcloud %}
<li>
	<a rel="me" target="_blank" href="https://soundcloud.com/{{ site.theme_settings.soundcloud }}">
		<span class="fa-stack fa-lg" aria-hidden="true" title="{{ site.theme_settings.str_follow_on | escape }} SoundCloud">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-soundcloud fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">{{ site.theme_settings.str_follow_on }} SoundCloud</span>
	</a>
</li>
{%- endif -%}

{%- if site.theme_settings.stack_exchange %}
<li>
	<a rel="me" target="_blank" href="{{ site.theme_settings.stack_exchange }}">
		<span class="fa-stack fa-lg" aria-hidden="true" title="{{ site.theme_settings.str_follow_on | escape }} Stack Exchange">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-stack-exchange fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">{{ site.theme_settings.str_follow_on }} Stack Exchange</span>
	</a>
</li>
{%- endif -%}

{%- if site.theme_settings.steam %}
<li>
	<a rel="me" target="_blank" href="https://steamcommunity.com/id/{{ site.theme_settings.steam }}">
		<span class="fa-stack fa-lg" aria-hidden="true" title="{{ site.theme_settings.str_follow_on | escape }} Steam">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-steam-symbol fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">{{ site.theme_settings.str_follow_on }} Steam</span>
	</a>
</li>
{%- endif -%}

{%- if site.theme_settings.tumblr %}
<li>
	<a rel="me" target="_blank" href="http://{{ site.theme_settings.tumblr }}.tumblr.com/">
		<span class="fa-stack fa-lg" aria-hidden="true" title="{{ site.theme_settings.str_follow_on | escape }} Tumblr">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-tumblr fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">{{ site.theme_settings.str_follow_on }} Tumblr</span>
	</a>
</li>
{%- endif -%}

{%- if site.theme_settings.gitlab %}
<li>
	<a rel="me" target="_blank" href="https://gitlab.com/{{ site.theme_settings.gitlab }}">
        <span class="fa-stack fa-lg" aria-hidden="true" title="{{ site.theme_settings.str_follow_on | escape }} Gitlab">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-gitlab fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">{{ site.theme_settings.str_follow_on }} Gitlab</span>
	</a>
</li>
{%- endif -%}

{%- if site.theme_settings.twitter %}
<li>
	<a rel="me" target="_blank" href="https://x.com/{{ site.theme_settings.twitter }}">
        <span class="fa-stack fa-lg" aria-hidden="true" title="{{ site.theme_settings.str_follow_on | escape }} X/Twitter">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-x-twitter fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">{{ site.theme_settings.str_follow_on }} X/Twitter</span>
	</a>
</li>
{%- endif -%}

{%- if site.theme_settings.bluesky %}
<li>
	<a rel="me" target="_blank" href="{{ site.theme_settings.bluesky }}">
        <span class="fa-stack fa-lg" aria-hidden="true" title="{{ site.theme_settings.str_follow_on | escape }} Bluesky">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-bluesky fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">{{ site.theme_settings.str_follow_on }} Bluesky</span>
	</a>
</li>
{%- endif -%}

{%- if site.theme_settings.mastodon %}
<li>
	<a rel="me" target="_blank" href="{{ site.theme_settings.mastodon }}">
        <span class="fa-stack fa-lg" aria-hidden="true" title="{{ site.theme_settings.str_follow_on | escape }} Mastodon">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-mastodon fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">{{ site.theme_settings.str_follow_on }} Mastodon</span>
	</a>
</li>
{%- endif -%}

{%- if site.theme_settings.vimeo %}
<li>
	<a rel="me" target="_blank" href="https://vimeo.com/{{ site.theme_settings.vimeo }}">
        <span class="fa-stack fa-lg" aria-hidden="true" title="{{ site.theme_settings.str_follow_on | escape }} Vimeo">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-vimeo fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">{{ site.theme_settings.str_follow_on }} Vimeo</span>
	</a>
</li>
{%- endif -%}

{%- if site.theme_settings.wordpress %}
<li>
	<a rel="me" target="_blank" href="https://{{ site.theme_settings.wordpress }}.wordpress.com/">
		<span class="fa-stack fa-lg" aria-hidden="true" title="{{ site.theme_settings.str_follow_on | escape }} WordPress">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-wordpress fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">{{ site.theme_settings.str_follow_on }} WordPress</span>
	</a>
</li>
{%- endif -%}

{%- if site.theme_settings.youtube %}
<li>
	<a rel="me" target="_blank" href="https://www.youtube.com/{{ site.theme_settings.youtube }}">
		<span class="fa-stack fa-lg" aria-hidden="true" title="{{ site.theme_settings.str_follow_on | escape }} YouTube">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">{{ site.theme_settings.str_follow_on }} YouTube</span>
	</a>
</li>
{%- endif -%}
