{% for mod in include.items %}
<div class="mod-listing">
    {% assign modid = mod.id | split: '/' | last %}
    <div style="display:flex;justify-content:space-between;align-items:flex-end;flex-wrap:wrap;">
    <div style="display:flex;justify-content:flex-start;align-items:center;flex-basis:50%;column-gap:0.5em;">
    {% if mod.title-image %}
        <h1 id="{{ modid }}" class="mod-title-image">
            <img src="{{ mod.title-image | relative_url }}" alt="">
        </h1>
    {% else %}
        <h1 id="{{ modid }}">
            {{ mod.title | markdownify | strip_html }}
        </h1>
    {% endif %}
    {% if mod.warning-label %}
        <span class="mod-label label-warning" title="{{mod.warning-title}}">{{mod.warning-label}}</span>
    {% endif %}
    {% if mod.info-label %}
        <span class="mod-label label-info" title="{{mod.info-title}}">{{mod.info-label}}</span>
    {% endif %}
    </div>
    <div style="margin: 1.34em 0;flex-basis: 50%;">
    {% if mod.date %}
    <div class="last-update">
        Last update: {{ mod.date | date: page.date-format }}
    </div>
    {% endif %}
    <div class="excerpt">
        {{ mod.excerpt }}
    </div>
    </div>
    </div>

    <div class="mod-content">
        {{ mod }}
    </div>
</div>
{% endfor %}
