{% assign mods_list_items = site.mods | where: "game-series", include.series | sort: 'order' %}
{% for mod in mods_list_items %}
<div class="mod-listing">
    {% assign modid = mod.id | split: '/' | last %}
    <div style="display:flex;justify-content:space-between;align-items:flex-end;flex-wrap:wrap;">
    <div style="display:flex;justify-content:space-between;align-items:center;">
    {% if mod.title-image %}
        <h1 id="{{ modid }}" class="mod-title-image">
            <img src="{{ mod.title-image | relative_url }}" alt="">
        </h1>
    {% else %}
        <h1 id="{{ modid }}">
            {{ mod.title | markdownify | strip_html }}
        </h1>
    {% endif %}
    <div>
    {% if mod.beta-caption %}
        <span style="margin-left:.5em;" class="label label-danger" title="{{mod.beta-caption}}">BETA</span>
    {% endif %}
    {% if mod.deprecated-caption %}
        <span style="margin-left:.5em;" class="label label-danger" title="{{mod.deprecated-caption}}">DEPRECATED</span>
    {% endif %}
    {% if mod.contribution %}
    <span style="margin-left:.5em;" class="label label-info">CONTRIBUTION</span>
    {% endif %}
    </div>
    </div>
    <div style="margin: 1.34em 0;">
    {% if mod.date %}
    <div class="last-update">
        Last update: {{ mod.date | date: page.date-format }}
    </div>
    {% endif %}
    <div class="excerpt">   
        {{ mod.excerpt }}
    </div>
    </div>
    </div>
    
    <div class="mod-content">
        {{ mod }}
    </div>
</div>
{% endfor %}

{% assign related_reads_items = site.posts | where: "game-series", include.series | sort: 'date' %}
{% if related_reads_items.size != 0 %}
{% include related-reads.html related_reads_items=related_reads_items %}
{% endif %}
