<header class="site-header">

    <!-- Logo and title -->
	<a href="{{ "/" | relative_url }}" aria-label="Go to homepage">
		<img class="avatar" src="{{ site.theme_settings.avatar | relative_url }}" alt="">
        <span class="site-title">{{ site.theme_settings.title | smartify }}</span>
	</a>
    <!-- Toggle menu -->
    <nav>
    <button id="pull" aria-label="Toggle Menu">
    <i class="fas fa-bars fa-lg"></i>
    </button>

    <!-- Menu -->
    <ul id="nav-menu" class="hide">
        <!-- Auto Generation of NORMAL pages in the navbar -->
        {% for page in site.pages -%}
        {%- assign this_title = page.display_title | default: page.title -%}
        {%- if this_title and page.hide != true and page.autogen == nil -%}
        <li>
            <a href="{{ page.url | remove_first: 'index.html' | relative_url }}">
                {{- this_title | smartify -}}
            </a>
        </li>
        {%- endif -%}
        {%- endfor %}

        <!-- Auto Generation of SPECIAL pages in the navbar -->
        {% for item in site.theme_settings.special_page -%}
          {%- if item[1].enabled -%}
            <li>
                <a href="{{ item[0] | relative_url }}" title="{{ item[1].title | escape }}">
                    <i class="fas fa-{{ item[1].icon }}"></i>
                    <span class="navbar-icon-text">{{ item[1].title | smartify }}</span>
                </a>
            </li>
          {%- endif -%}
        {%- endfor %}
    </ul>
    </nav>
</header>
