<header class="site-header">

    <!-- Logo and title -->
	<div class="branding">
		<a href="{{ "/" | relative_url }}">
			<img class="avatar" src="{{ site.theme_settings.avatar | relative_url }}" alt="Logo image" loading="lazy"/>
		</a>

		<a class="site-title" href="{{ "/" | relative_url }}">{{ site.theme_settings.title | markdownify | strip_html }}</a>
	</div>

    <!-- Toggle menu -->
    <nav class="clear">
    <a id="pull" class="toggle" href="#">
    <i class="fas fa-bars fa-lg"></i>
    </a>

    <!-- Menu -->
    <ul class="hide">
        <!-- Auto Generation of NORMAL pages in the navbar -->
        {% assign name_page = "" %}

        {% for page in site.pages %}
        {% if page.title and page.hide != true %}
        {% unless name_page contains page.title %}
        <li class="separator"> | </li>
        <li>
            <a class="clear" href="{{ page.url | relative_url }}">
                {{ page.title | markdownify | strip_html }}
            </a>
        </li>
        {% endunless %}
        {% assign name_page = page.title | append: name_page %}
        {% endif %}
        {% endfor %}

        <!-- Auto Generation of SPECIAL pages in the navbar -->
        {% for item in site.theme_settings.special_page %}
          {% if item[1].enabled %}
            <li class="separator"> | </li>
            <li>
                <a class="clear" href="{{ item[0] | relative_url }}">
                    <i class="fas fa-{{ item[1].icon }}" title="{{item[1].title }}" aria-hidden="true"></i>
                </a>
            </li>
          {% endif %}
        {% endfor %}

        {%if site.theme_settings.extra_navbar_socials %}
        <!-- BEGIN TEMP BUTTONS -->
        <li class="separator"> | </li>
        <li class="separator"> | </li>
        <li>
            <a href="https://twitter.com/{{ site.theme_settings.twitter }}" title="{{ site.theme_settings.str_follow_on }} Twitter">
                <i class="fab fa-lg fa-twitter"></i>
            </a>
        </li>
        <li>
            <a href="https://github.com/{{ site.theme_settings.github }}" title="{{ site.theme_settings.str_follow_on }} GitHub">
                <i class="fab fa-lg fa-github"></i>
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/user/{{ site.theme_settings.youtube }}" title="{{ site.theme_settings.str_follow_on }} YouTube">
                <i class="fab fa-lg fa-youtube"></i>
            </a>
        </li>
        <!-- END TEMP BUTTONS -->
        {% endif %}

        <!-- Dark mode toggle -->
        <li class="separator no-js"> | </li>
        <li class="separator no-js"> | </li>
        <li>
            <a class="clear no-js" onclick="modeSwitcher()">
                <i id="theme-toggle" class="fas theme-icon" aria-hidden="true"></i>
            </a>
        </li>
    </ul>

    </nav>

    <!-- Dark mode script -->
    <script>
    function changeIconTitle(isDark) {
        let elem = document.getElementById("theme-toggle");
        if (isDark) {
            elem.title = "Toggle Light Mode";
        } else {
            elem.title = "Toggle Dark Mode";
        }
    }

    let systemInitiatedDark = window.matchMedia("(prefers-color-scheme: dark)");
    let theme = sessionStorage.getItem('theme');
    if (theme === "dark") {
        document.documentElement.setAttribute('data-theme', 'dark');
        changeIconTitle(true);
    } else if (theme === "light") {
        document.documentElement.setAttribute('data-theme', 'light');
        changeIconTitle(false);
    } else {
        changeIconTitle(systemInitiatedDark.matches);
    }
    </script>
</header>
