{% if paginator.total_pages > 1 %}
<nav class="pagination">
    <span class="nav-left
      {%- if paginator.previous_page == nil %} hide{% endif -%}
    ">
      <a href="{{ paginator.first_page_path | default: '#' }}" class="button thinner
        {%- if paginator.previous_page == paginator.first_page %} hide{% endif -%}
      " aria-label="Go to first page">
        <i class="fas fa-angles-left"></i>
      </a>
      <a href="{{ paginator.previous_page_path | default: '#' }}" class="button thinner" aria-label="Go to previous page">
        <i class="fas fa-angle-left"></i>
        {{ site.theme_settings.str_previous_page }}
      </a>
    </span>
    {{ paginator.page }} / {{ paginator.total_pages }}
    <span class="nav-right
      {%- if paginator.next_page == nil %} hide{% endif -%}
    ">
      <a href="{{ paginator.next_page_path | default: '#' }}" class="button thinner" aria-label="Go to next page">
        {{ site.theme_settings.str_next_page }}
        <i class="fas fa-angle-right"></i>
      </a>
      <a href="{{ paginator.last_page_path | default: '#' }}" class="button thinner
        {%- if paginator.next_page == paginator.last_page %} hide{% endif -%}
      " aria-label="Go to last page">
        <i class="fas fa-angles-right"></i>
      </a>
    </span>
</nav>
{% endif %}
