<!-- Portfolio Grid Section -->

<div class="portfolio-grid">
    {% for item in site.portfolio reversed %}
    <div class="portfolio-cell">
        <a href="{{ item.url | relative_url }}" title="{{ item.title }}" data-keyboard="true">
            <img class="cell-back" src="{{ item.image | relative_url }}" alt="{{ item.title }}">
            <img class="cell-front" src="{{ item.image | relative_url | replace: "/thumb/", "/thumb/hover/" | replace: ".jpg", ".png" }}" loading="lazy" alt="">
        </a>
    </div>
    {% endfor %}
</div>
