<div id="post-nav">
  {% if page.previous.url %}
  <div id="previous-post">
      <p class="meta">{{ site.theme_settings.str_previous_post }}</p>
      <a href="{{ page.previous.url | relative_url }}">
        {{ page.previous.title | smartify }}
      </a>
  </div>
  {% endif %}
  {% if page.next.url %}
  <div id="next-post">
      <p class="meta">{{ site.theme_settings.str_next_post }}</p>
      <a href="{{ page.next.url | relative_url }}">
        {{ page.next.title | smartify }}
      </a>
  </div>
  {% endif %}
</div>