<ul class="list-icons">
{%- for item in include.related_items reversed -%}
<li>
    <span class="fa-li"><i class="far fa-file-image"></i></span>
    <a href="{{ item.url | relative_url }}" target="_blank">
        {{- item.title | smartify -}}
    </a>

    <span class="meta">
        {%- include elements/time.html date=item.date preset=include.date_preset -%}
        {%- if item.last_modified_at %} (edited {% include elements/time.html date=item.last_modified_at preset=include.date_preset %}){% endif -%}
    </span>
</li>
{%- endfor -%}
</ul>
