{% assign related_reads_items = site.posts | where: 'game-series', include.series | sort: 'date' %}
{% if related_reads_items.size != 0 %}
<h2 class="no_anchor">Related reads:</h2>
{% include related-reads-list.html related_items=related_reads_items %}
{% endif %}

{% assign other_media_items = site.data.media | where: 'game-series', include.series | sort: 'date' %}
{% if other_media_items.size != 0 %}
<h2 class="no_anchor">In other media:</h2>
{% include related-reads-list.html related_items=other_media_items %}
{% endif %}
