<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "ItemList",
    "itemListOrder": "https://schema.org/ItemListOrderDescending",
    "numberOfItems": {{ include.items | size | jsonify }},
    "itemListElement": [

{%- for blogpost in include.items -%}
    {
        "@type": "ListItem",
        "position": {{ forloop.index | jsonify }},
        "url": {{ blogpost.url | absolute_url | jsonify }}
    } {%- unless forloop.last -%},{%- endunless -%}
{%- endfor -%}
    ]
}
</script>