<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "ItemList",
    "itemListOrder": "https://schema.org/ItemListUnordered",
    "numberOfItems": {{ include.items | size | jsonify }},
    "itemListElement": [

{%- for item in include.items -%}
        {
            "@type": "ListItem",
            "name": {{ item.title | jsonify }},
            "url": {{ item.url | absolute_url | jsonify }}
        } {%- unless forloop.last -%},{%- endunless -%}
{%- endfor -%}

    ]
}
</script>
