@use "sass:color";

// Typography
$font-family: 'Source Sans 3', 'Sans 3 Fallback 1', 'Sans 3 Fallback 2', 'Sans 3 Fallback 3', sans-serif;
$font-size: 1.25em;

/* PADDING */
$padding-x-large: 23%;
$padding-large: 9%;
$padding-medium: 6%;
$padding-small: 4%;
$padding-x-small: 3%;
$title-y-padding: 1%;

// Brand colours
$theme-color: #3D7DEC;

$brand-color-light: #fff;
$background-color-light: #fff;
$brand-color-dark: #333;
$background-color-dark: #333;

// Other links
$github-color: #6CC644;
$important-color-light: #A50038;
$important-color-dark: #CC2960;
$patreon-color: #f96854;
$paypal-color: #0079C1;
$ko-fi-color: #13C3FF;
$zoom-platform-color: #645cf6;

// Typography colours
$text-color-light: #383838;
$text-color-dark: color.invert($text-color-light);
$link-color: $theme-color; // #1ABC9C;
$blockquote-color-light: #E6EDf4; // $background-color;
$blockquote-color-dark: #204060;
$patreon-link-color: $patreon-color;
$paypal-link-color: $paypal-color;
$ko-fi-link-color: $ko-fi-color;
$zoom-platform-link-color: $zoom-platform-color;

//Search color
$link-shadow: color.adjust($link-color, $alpha: -.6); //rgba(26, 188, 156, 0.6);
$text-shadow: #2f2f2f;
$search-color: #999;

// Feature image for articles
$feature-image-text-color: #FFF;
// Header description box
$header-desc-background-color: $theme-color;
$header-desc-text-color-light: #FFF;
$header-desc-text-color-dark: #D7D7D7;

/* MOBILE */
$xl-break: 2000px;
$l-break: 1400px;
$m-break: 1000px; // Paddings, portfolio. Used with max-width
$break: 826px; // Mobile navigation bar and general sizing. Used with max-width
$sm-break: 576px;
$x-sm-break: 320px;


/*  Syntax highlighting  */
// Syntax typography
$monospace: Monaco, Consolas, "Lucida Console", monospace;
$font-size-code: 0.75em; // ~12px
$border-radius: 4px;

// base16 Material Theme
$base00: #263238;  // Default Background
$base01: #2E3C43;  // Lighter Background (Used for status bars)
$base02: #314549;  // Selection Background
$base03: #546E7A;  // Comments, Invisibles, Line Highlighting
$base04: #B2CCD6;  // Dark Foreground (Used for status bars)
$base05: #EEFFFF;  // Default Foreground, Caret, Delimiters, Operators
$base06: #EEFFFF;  // Light Foreground (Not often used)
$base07: #FFFFFF;  // Light Background (Not often used)
$base08: #F07178;  // Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
$base09: #F78C6C;  // Integers, Boolean, Constants, XML Attributes, Markup Link Url
$base0a: #FFCB6B;  // Classes, Markup Bold, Search Text Background
$base0b: #98C379;  // Strings, Inherited Class, Markup Code, Diff Inserted
$base0c: #89DDFF;  // Support, Regular Expressions, Escape Characters, Markup Quotes
$base0d: #82AAFF;  // Functions, Methods, Attribute IDs, Headings
$base0e: #C792EA;  // Keywords, Storage, Selector, Markup Italic, Diff Changed
$base0f: #FF5370;  // Deprecated, Opening/Closing Embedded Language Tags e.g.

$background-color: var(--background-color);
$text-color: var(--text-color);
