@use "sass:color";
@use "../variables";
@use "../utility";

#main {
    background-position: center top;
    background-image: url("/assets/img/site-header.jpg");
    background-size: auto;
}

// Post listing
.posts {
    &.smaller-gaps > * {
        margin-block-end: 2em;
    }
    > * {
        margin-block-end: 3em;
        &:last-child {
            margin-block-end: 0;
        }
    }
    .post-link {
        @extend %uncolored-text;
        h2 {
            display: inline;
        }
    }
    .post-img {
        border-radius: 10px;
        overflow: hidden;
        height: 250px;

        @media screen and (max-width: variables.$break) {
            height: 150px;
        }

        img {
            width: 100%;
            height: auto;

            -moz-transition-timing-function: ease-out;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;

            -moz-transition: all 2s;
            -webkit-transition: all 2s;
            transition: all 2s;

            &:hover {
                -moz-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }
        }
    }
    .excerpt {
        margin-block: 1em;
        &.read-more {
            > p:nth-last-child(2) {
                display: inline;
            }
            > :last-child p {
                display: inline;
                @extend .sidenote;
            }
        }
    }
}

// Pagination
.pagination {
    padding: variables.$padding-small variables.$padding-large 0;
    text-align: center;
    @media screen and (max-width: variables.$sm-break) {
        padding: variables.$padding-small 0;
    }

    .nav-left {
        margin-right: 1.5em;
        @media screen and (max-width: variables.$sm-break) {
            margin-right: 0.75em;
        }
    }
    .nav-right {
        margin-left: 1.5em;
        @media screen and (max-width: variables.$sm-break) {
            margin-left: 0.75em;
        }
    }

    .hide {
        visibility: hidden;
    }
}
