@use "../variables";
@use "../utility";

.title-padder {
    padding: calc(#{variables.$title-padding} + 0.5em) variables.$title-padding;
}

h1.title {
    @extend %header-txt-shadow;
}

h2.subtitle {
    font-weight: normal;
    @extend %header-txt-shadow;
}

.outline-box {
    position: relative;

    &::before {
        @extend %highlight-block;
        content: '';
        position: absolute;
        inset: -10px;
        padding: 0;
        z-index: -1;

        @media screen and not (max-width: variables.$break) {
            inset: -10px -20px;
        }
    }
}

//Shared css in _post.scss