@use "../variables";
@use "../utility";
@use "external/fontawesome-glue" as fa;
@use "sass:color";
@use "sass:math";

.comments,
.page-body {
    border-bottom: 1px solid var(--line-color);
}

.comments {
    @extend %padding-post;
}

.footnotes {
    font-size: 0.9em;
}

header, .posts {
    h1, h2, [role=doc-subtitle] {
        margin: 0;
        line-height: 1.3;
    }
}

.meta {
    @extend .upcase;
    color: rgba(variables.$text-color, .5);
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin: 0;
}


/* --- Feature image --- */
.page-body {
    > header {
        color: variables.$feature-image-text-color;
        margin-bottom: 0;
        padding: calc(math.div(variables.$padding-large, 2.5) + variables.$title-y-padding) variables.$padding-large;
        text-align: center;

        @media screen and (max-width: variables.$break) {
            padding: calc(variables.$padding-large*1.5 + variables.$title-y-padding) variables.$padding-small;
        }

        h1, p {
            @extend %header-txt-shadow;
        }

        .meta {
            color: color.adjust(variables.$feature-image-text-color, $lightness: -15%);
        }
    }

    > .page-content {
        @extend %padding-post;
        padding-block-end: 0;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
.element-anchor {
    &[id]:not(.no_anchor):has(a:first-child) {
        display: flex;
        align-items: center;
        a:first-child {
            @extend .fa-solid;
            @extend %uncolored-text;
            width: 2em;
            font-size: 0.8rem;
            text-align: center;
            order: 100;
            visibility: hidden;
            &:after {
                content: fa.fa-content(fa.$fa-var-link);
            }
        }

        &:hover a:first-child {
            visibility: visible;
        }
    }
}

@media screen and (max-width: variables.$break) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .element-anchor {
        &[id]:not(.no_anchor):has(a:first-child) a:first-child {
            font-size: 0.8 * 0.8rem;
        }
    }
}