%media-entry {
    width: 90%;
    margin: 0 auto 0.5em;
    &.natural {
        max-width: 90%;
    }

    @media screen and (min-width: 850px) {
        width: 75%;
        &.small {
            width: 47.5%;
        }
        &.natural {
            width: fit-content;
        }
    }
}

@mixin iframe-padding($padding) {
    padding-bottom: $padding * 0.9;
    @media screen and (min-width: 850px) {
        padding-bottom: $padding * 0.75;
        &.small {
            padding-bottom: $padding * 0.475;
        }
    }
}

$video-16-9-padding: 56.25%;
$video-4-3-padding: 75%;

.iframe-entry {
    @extend %media-entry;
	position: relative;
    @include iframe-padding($video-16-9-padding);
    &.narrower {
        @include iframe-padding($video-4-3-padding);
    }

    iframe, object, embed {
        border: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.fig-entry {
    @extend %media-entry;
    text-align: center;
    line-height: 1.25;
    & > div.juxtapose {
        display: inline-block;
    }
}

.media-container {
    text-align: center;
    margin: 0 auto 0.5em;
    > figure {
        display: inline-block;
        vertical-align: top;
    }
    > .fig-entry, > .iframe-entry {
        margin-bottom: 0;
    }
    &.natural {
        > .fig-entry, > .iframe-entry {
            max-width: 90%;
        }
    }

    @media screen and (min-width: 850px) {
        &.small {
            > .fig-entry, > .iframe-entry {
                width: 47.5%;
            }
            > .iframe-entry {
                padding-bottom: $video-16-9-padding * 0.475;
                &.narrower {
                    padding-bottom: $video-4-3-padding * 0.475;
                }
            }
        }
        &.natural {
            > .fig-entry {
                width: fit-content;
            }
        }
    }
}
