@use "base/variables";
@use "base/utility";
@use "sass:color";

.site-footer {
    @extend %padding-post;
    color: var(--footer-text-color);
    font-size: 0.9em;
    text-align: center;

    ul {
        @extend %no-bullets;
        @extend %flexible-2d-block;
        justify-content: center;
    }

    .top-row {
        a:hover {
            color: color.adjust(variables.$link-color, $lightness: -15%);
        }
    }

    .bottom-row {
        margin-block-end: 0;
    }

    .fa-stack {
        width: 2em;
    }
}
