@use "base/variables";
@use "base/utility";
@use "base/global";

.mod-label {
    border-radius: 0.3em;
    color: variables.$feature-image-text-color;
    font-weight: bold;
    font-size: 75%;
    padding: 0.2em 0.6em 0.3em;

    &.warning {
        background-color: #d9534f;
    }

    &.info {
        background-color: variables.$theme-color;
    }
}

.mod-listing {
    margin-block-end: 2em;

    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
        margin-block: 1em;
        row-gap: 0.25em;

        h2 {
            @extend .heading-big;
            margin-block: 0;
        }

        img {
            min-width: 150px;
            max-width: 400px;
            vertical-align: middle;
        }

        .last-update {
            @extend .sidenote;
        }

        .title {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-basis: calc(50% - 0.5em);
            flex-grow: 1;
            column-gap: 0.5em;
        }

        .misc {
            min-width: 30%;
            flex-grow: 0;
            text-align: right;
            margin-inline-start: auto;
            p {
                margin: 0;
            }
        }
    }

    .content {
        padding: 1em;
        border-radius: 0.3em;
        border: 1px solid var(--line-color);

        > :last-child {
            margin-block-end: 0;
        }
    }

    // Flexible mod buttons, like in .flexible-buttons
    & :has(> .button) {
        @extend %flexible-2d-block;
    }
}
