.mods-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

}
.mods-cell {
  flex: 0 0 50%;
  margin-bottom: 10px;

  @media screen and (max-width: $break) {
    flex-basis: 100%;
  }
}

.mod-label {
    border-radius: 0.3em;
    color: $feature-image-text-color;
    font-weight: bold;
    font-size: 75%;
    padding: 0.2em 0.6em 0.3em;

    &.warning {
        background-color: #d9534f;
    }

    &.info {
        background-color: $theme-color;
    }
}

.mod-listing {
    margin-bottom: 1em;
    .mod-title-image {
        min-width: 150px;
        max-width: 400px;
        display: inline-flex;

        img {
            width: 100%;
            padding: 0;
        }
    }

    .mod-content {
        padding: 1em;
        border-radius: 0.3em;
        border: 1px solid var(--line-color);
    }

    .excerpt {
        text-align: right;
    }

    .last-update {
        @extend .excerpt;
        font-style: italic;
    }
}
