@use "base/variables";
@use "base/utility";

.portfolio-content {
    display: block;

    @media not (max-width: variables.$m-break) {
        display: flex;
        flex-direction: row-reverse;
        column-gap: 1em;
    }

    aside {
        @extend %highlight-block;
        min-width: 18.5%;
        height: fit-content;
        text-align: right;
        margin-block-end: 1em;

        @media (max-width: variables.$m-break) {
            padding: 0.5em 0.5em;
            text-align: center;
            column-count: 2;
        }

        dd,
        dl {
            margin: 0;
        }

        div {
            break-inside: avoid-column;
            margin-block-end: 1em;

            &:last-child {
                margin-block-end: 0;
            }
        }
    }

    blockquote {
        margin: 1em 0;
    }
}
