.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.portfolio-cell {
    flex: 0 0 33%;
    position: relative;
    margin-bottom: 10px;

    @media screen and (max-width: $break) {
        flex-basis: 50%;
    }

    .cell-back {
        z-index: 1;
    }

    .cell-front {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;

        /* ---- Responsive ---- */
        @media (hover: hover) {
            opacity: 0;
            -webkit-transition: all ease .5s;
            -moz-transition: all ease .5s;
            transition: all ease .5s;
        }

        @media (hover: hover) {
            &:hover {
                opacity: 1;
            }
        }
    }
}

.portfolio-content {
    display: block;

    @media only screen and (min-width: $m-break) {
        display: flex;
        flex-direction: row-reverse;
        column-gap: 1em;
    }

    aside {
        @extend %quote-block;
        min-width: 18.5%;
        height: fit-content;
        text-align: right;
        margin-bottom: 1em;

        @media screen and (max-width: $m-break) {
            padding: 0.5em 0.5em;
            text-align: center;
            column-count: 2;
        }

        dd,
        dl {
            margin: 0;
        }

        div {
            break-inside: avoid-column;
            margin-bottom: 1em;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    blockquote {
        margin: 1em 0;
    }
}
