@use "base/variables";

@use "sass:math";

.share-buttons {
    text-align: center;
    padding: math.div(variables.$padding-x-small, 2) 0;

    .meta {
        margin-right: 0.5em;
    }

    ul {
        display: inline-block;
        list-style: none;
        margin: 0;

        li {
            display: inline-block;
            a:hover {
                text-decoration: none;
            }
        }
    }
}
