.share-buttons {
    text-align: center;
    padding: $padding-x-small/2 0;

    .meta {
        margin-right: 0.5em;
    }

    ul {
        display: inline-block;
        list-style: none;
        margin: 0;

        li {
            display: inline-block;
            a:hover {
                text-decoration: none;
            }
        }
        .sr-only {
            position: absolute;
            clip: rect(1px 1px 1px 1px);
            clip: rect(1px, 1px, 1px, 1px);
            padding: 0;
            border: 0;
            height: 1px;
            width: 1px;
            overflow: hidden;
        }
    }
}
