{% for mod in include.items %}
<article class="mod-listing">
    {% assign modid = mod.id | split: '/' | last %}
    <header>
        <div class="element-anchor" id="{{ modid }}">
            <a href="#{{ modid }}"></a>
            <div class="title">
                <h2>
                {%- if mod.title-image -%}
                    {%- assign image_url = mod.title-image | relative_url -%}
                    <img src="{{ image_url }}" alt="{{ mod.title | escape }}" {% imagesize image_url:props %}>
                {%- else -%}
                    {{- mod.title | smartify -}}
                {%- endif -%}
                </h2>
                {% include elements/mod-label.html mod=mod %}
            </div>
        </div>
        <div class="misc">
        {% if mod.version %}<p>Version: {{ mod.version -}}</p>{% endif %}
        {% if mod.date %}<p>Last updated: {% include elements/time.html date=mod.date -%}</p>{% endif %}
        {% if mod.first-release %}<p>First released: {% include elements/time.html date=mod.first-release -%}</p>{% endif %}
        </div>
    </header>
    <div class="content">
        {{ mod }}
    </div>
</article>
{% endfor %}
