{% for mod in include.items %}
<div class="mod-listing">
    {% assign modid = mod.id | split: '/' | last %}
    <div class="mod-header">
    <div class="left-column">
    {% if mod.title-image %}
        <h1 id="{{ modid }}" class="mod-title-image">
            <img src="{{ mod.title-image | relative_url }}" alt="">
        </h1>
    {% else %}
        <h1 id="{{ modid }}">
            {{ mod.title | smartify }}
        </h1>
    {% endif %}
    {% include mod-label.html mod=mod %}
    </div>
    <div class="right-column">
    {% if mod.date %}
    <div class="last-update">
        Last update: {{ mod.date | date: page.date-format }}
    </div>
    {% endif %}
    <div class="excerpt">
        {{ mod.excerpt }}
    </div>
    </div>
    </div>

    <div class="mod-content">
        {{ mod }}
    </div>
</div>
{% endfor %}
