{% for mod in include.items %}
<section class="mod-listing">
    {% assign modid = mod.id | split: '/' | last %}
    <header>
        <div class="title">
            <h2 id="{{ modid }}">
            {%- if mod.title-image -%}
                {%- assign image_url = mod.title-image | relative_url -%}
                <img src="{{ image_url }}" alt="{{ mod.title | escape }}" {% imagesize image_url:props %}>
            {%- else -%}
                {{- mod.title | smartify -}}
            {%- endif -%}
            </h2>
            {% include elements/mod-label.html mod=mod %}
        </div>
        <div class="misc">
        {% if mod.date -%}
        <p class="last-update">
            Last update: {{ mod.date | date: page.date-format }}
        </p>
        {%- endif %}
        <p>
            {{- mod.excerpt -}}
        </p>
        </div>
    </header>
    <div class="content">
        {%- if mod.disclaimer-warning -%}
        <p class="disclaimer warning">
            {{- mod.disclaimer-warning | markdownify | remove: '<p>' | remove: '</p>' | strip -}}
        </p>
        {%- endif -%}
        {%- if mod.disclaimer-info -%}
        <p class="disclaimer info">
            {{- mod.disclaimer-info | markdownify | remove: '<p>' | remove: '</p>' | strip -}}
        </p>
        {%- endif -%}

        {{ mod }}
    </div>
</section>
{% endfor %}
