{% assign affiliate-links = site.data.store-pages.games[include.series] %}
{% if affiliate-links %}
<h2>Buy the game</h2>

{%- for link in affiliate-links -%}
  {%- assign store-name = link[0] -%}
  {%- if site.data.store-pages.links[store-name].affiliate -%}
    {%- assign promo-links = true -%}
  {%- else -%}
    {%- assign other-links = true -%}
  {%- endif -%}
{%- endfor -%}
{%- assign needs-headers = promo-links and other-links -%}

{% if promo-links %}
<div class="outline-box">

{% if needs-headers %}
<h3>Support me</h3>
{% endif %}
<p class="disclaimer info">This section contains affiliate links, meaning I get a commission for every purchase made through them.</p>

<p class="left-page-margin flexible-buttons">
{% if affiliate-links.gog %}
<a href="https://af.gog.com/game/{{ affiliate-links.gog.id }}?as={{ site.theme_settings.affiliate_links.gog }}"
    class="button gog" rel="nofollow" target="_blank"><i class='{{ site.data.store-pages.links.gog.icon }}'></i> Buy on {{ site.data.store-pages.links.gog.name }}</a>
{% endif %}
{% if affiliate-links.zoom-platform %}
<a href="https://www.zoom-platform.com/product/{{ affiliate-links.zoom-platform.id }}?affiliate={{ site.theme_settings.affiliate_links.zoom-platform }}"
    class="button zoom-platform" rel="nofollow" target="_blank"><i class='{{ site.data.store-pages.links.zoom-platform.icon }}'></i> Buy on {{ site.data.store-pages.links.zoom-platform.name }}</a>
{% endif %}
</p>
</div>
{% endif %}

{% if other-links %}
{% if needs-headers %}
<h3>Also available on</h3>
{% endif %}

<p class="left-page-margin flexible-buttons">
{% if affiliate-links.steam %}
<a href="https://store.steampowered.com/app/{{ affiliate-links.steam.id }}?utm_source=Silent%27s+Blog&utm_medium=website&utm_campaign=Mods+List"
    class="button steam" rel="nofollow" target="_blank"><i class='{{ site.data.store-pages.links.steam.icon }}'></i> Buy on {{ site.data.store-pages.links.steam.name }}</a>
{% endif %}
</p>
{% endif %}

{% endif %}
