{% if include.items.size >= site.theme_settings.min_mods_for_toc %}
<h2>Contents</h2>
<ul class="list-icons">
    {%- for mod in include.items -%}
    <li>
        <span class="fa-li"><i class="far fa-list-alt"></i></span>
        {%- assign modid = mod.id | split: '/' | last -%}
        <a href="#{{ modid }}">
            {{- mod.title | smartify -}}
        </a>

        <span class="meta">
            {%- include elements/time.html date=mod.date -%}
        </span>
    </li>
    {%- endfor -%}
</ul>
{%- endif -%}
