#main {
    background-position: 100% 0, 0%, center top;
    background-image: url("/assets/img/site-header.jpg");
    background-size: auto;
    position: relative;

    .overlay-logo {
        height: 10rem;
        padding: 0;
        position: absolute;
        top: 0;
        right: 0;

        @media screen and (max-width: $sm-break) {
            height: 5rem;
        }
    }
}

// Post listing
.posts {
    @extend %padding-post;
    padding-bottom: 0;

    section {
        margin-bottom: 3em;
        &:last-child {
            margin-bottom: 0;
        }
        p a {
            @extend %body-link;
        }

        .post-img {
            border-radius: 10px;
            overflow: hidden;
            display: block;
            height: 250px;

            @media screen and (max-width: $break) {
                height: 150px;
            }

            img {
                width: 100%;
                height: auto;
                padding: 0;

                -moz-transition-timing-function: ease-out;
                -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out;

                -moz-transition: all 2s;
                -webkit-transition: all 2s;
                transition: all 2s;

                &:hover {
                    -moz-transform: scale(1.1);
                    -webkit-transform: scale(1.1);
                    transform: scale(1.1);
                }
            }
        }
    }
    .excerpt {
        margin: 1em 0;
    }
}

// Pagination
.pagination {
    padding: $padding-small $padding-large 0 $padding-large;
    text-align: center;
    @media screen and (max-width: 600px) {
        padding: $padding-small 0;
    }

    .nav-left {
        margin: 0 1.5em 0 0.5em;
        @media screen and (max-width: 600px) {
            margin-right: 0.75em;
        }
    }
    .nav-right {
        margin: 0 0.5em 0 1.5em;
        @media screen and (max-width: 600px) {
            margin-left: 0.75em;
        }
    }
    .button {
        margin: 0;
        i {
            vertical-align: middle;
        }
    }
}
