.title-padder {
    padding: calc(#{$title-padding} + 0.5em) $title-padding;
}

h1.title {
    @extend .header-txt-shadow;
}

.subtitle {
    font-weight: normal;
    margin-top: 5px;
    @extend .header-txt-shadow;
}

//Shared css in _post.scss