@use "sass:color";
@use "sass:math";

.comments,
.page-body { 
    border-bottom: 1px solid var(--line-color);
}

.comments {
    @extend %padding-post;
}

article {
    a {
        @extend %body-link;
    }

    .footnotes {
        font-size: 0.9em;
    }
}

footer {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.9em;
    display: inline-block;
    text-align: center;
}

header, .posts {
    h1, h2 {
        margin: 0;
    }
}

.meta {
    @extend .upcase;
    color: rgba($text-color, .5);
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin: 0;
}


/* --- Feature image --- */
.page-body {
    header {
        color: $feature-image-text-color;
        margin-bottom: 0;
        padding: math.div($padding-large, 2.5) $padding-large;
        text-align: center;

        @media screen and (max-width: $break) {
            padding: $padding-large*1.5 $padding-small;
        }

        .meta {
            @extend %header-txt-shadow;
            color: color.adjust($feature-image-text-color, $lightness: -15%);
        }
    }

    .post-content {
        @extend %padding-post;
        padding-bottom: 0;
    }

    footer {
        @extend %padding-post;
        padding-top: 0;
    }
}

h1,
h2,
h3,
h4 {
    .octicon {
        fill: currentColor;
        padding: 0;
        vertical-align: middle;
        visibility: hidden;
    }

    &:hover .octicon {
        visibility: visible;
    }
}