article,
.comments {
    @extend %padding-post;
    border-bottom: 1px solid var(--line-color);
    float: left;
    width: 100%;
}

article {
    header {
        margin-bottom: 6%;
        text-align: center;
    }

    a:hover {
        @extend .body-link;
    }

    .footnotes {
        font-size: 0.9em;
    }
}

footer {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.9em;
    display: inline-block;
    text-align: center;

    .meta {
        color: rgba($text-color, .5);
        letter-spacing: 0.1em;
        display: inline;
        text-transform: uppercase;
    }

    a.button {
        margin-left: 1em;
    }
}

header {
    h1 {
        margin: 0;
    }
}

.meta {
    color: rgba($text-color, .5);
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin: 0;
    text-transform: uppercase;
}


/* --- Feature image --- */
.feature-image {
    padding: 0;

    .post-link {
        color: $feature-image-text-color;
    }

    header {
        color: $feature-image-text-color;
        background-size: $feature-image-size;
        margin-bottom: 0;
        padding: $padding-large/2.5 $padding-large;

        .meta {
            @extend .header-txt-shadow;
            color: darken($feature-image-text-color, 15%);
        }
    }

    .post-content {
        @extend %padding-post;
        padding-bottom: 0;
    }

    footer {
        @extend %padding-post;
        padding-top: 0;
    }
}

// Responsive scrolling
.feature-image header {
    @media screen and (max-width: $break) {
        padding: $padding-large*1.5 $padding-small;
    }
}

h1,
h2,
h3,
h4 {
    .octicon {
        fill: currentColor;
        padding: 0;
        vertical-align: middle;
        visibility: hidden;
    }

    &:hover .octicon {
        visibility: visible;
    }
}