@use "base/variables";
@use 'base/utility';
@use "external/fontawesome-glue" as fa;

.tag-list {
    @extend %flexible-2d-block;
    justify-content: center;
    padding-block-end: variables.$padding-x-small;

    a {
        font-size: 0.81em;
    }
}

.tag-anchor {
    margin-bottom: variables.$padding-x-small;
    a {
        color: variables.$link-color;

        &:hover {
            text-decoration: none;
        }
    }
}

.list-icons {
    @extend .fa-ul;
    font-weight: bold;
    @media not (max-width: variables.$break) {
        font-size: 0.9em;
    }

    li {
        display: flow-root list-item;
        @extend %body-link;
        a {
            color: var(--header-link-color);
        }
    }

    ul, ol {
        @extend .fa-ul;
        font-size: 0.9em;
        font-weight: normal;
        margin-block-end: 0;
    }

    .meta {
        float: right;
        font-size: 0.75em;
        line-height: 2;
    }
}
