@use "base/variables";
@use 'base/utility';

.tag-list {
    @extend %flexible-2d-block;
    justify-content: center;
    padding-block-end: variables.$padding-x-small;

    a {
        font-size: 0.81em;
    }
}

.tag-anchor {
    margin-bottom: variables.$padding-x-small;
    a {
        color: variables.$link-color;

        &:hover {
            text-decoration: none;
        }
    }
}

ul.tag-posts {
    @extend %no-bullets;
    font-size: 0.9em;
    font-weight: bold;
    li {
        @extend .left-page-margin;
        font-size: 100%;
        display: flow-root list-item;
        a {
            @extend %body-link;
            color: var(--header-link-color);
        }
    }

    ul {
        font-size: 0.9em;
        list-style-type: none;
        font-weight: normal;
        margin-bottom: 0;
    }

    .meta {
        display: inline;
        float: right;
        font-size: 0.7em;
        line-height: normal;
    }
}
