@use "../variables";

%media-entry {
    width: 90%;
    margin: 0 auto 0.75em;
    &.natural, .media-container.natural > & {
        max-width: 90%;
    }

    @media screen and (min-width: 850px) {
        width: 75%;
        &.small, .media-container.small > & {
            width: 47.5%;
        }
        &.natural, .media-container.natural > & {
            width: fit-content;
        }
    }

    &.aside {
        max-width: 35%;
        float: right;
        margin-left: 0.5em;

        @media screen and (max-width: variables.$break) {
            max-width: 50%;
        }
    }
}

@mixin iframe-padding($padding) {
    padding-block-end: $padding * 0.9;
    @media screen and (min-width: 850px) {
        padding-block-end: $padding * 0.75;
        &.small, .media-container.small > & {
            padding-block-end: $padding * 0.475;
        }
    }
}

$video-16-9-padding: 56.25%;
$video-4-3-padding: 75%;

.iframe-entry {
    @extend %media-entry;
	position: relative;
    @include iframe-padding($video-16-9-padding);
    &.narrower, .media-container.narrower > & {
        @include iframe-padding($video-4-3-padding);
    }

    iframe, object, embed {
        border: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .media-container > & {
        vertical-align: baseline;
    }
}

.fig-entry {
    @extend %media-entry;
    text-align: center;
    line-height: 1.25;
    & > div.juxtapose {
        display: inline-block;
    }
}

.media-container {
    text-align: center;
    margin: 0 auto 0.75em;
    > figure {
        display: inline-block;
        vertical-align: top;
        margin-block-end: 0;
    }
}
