@use "../variables";
@use "../utility";

.site-footer {
    @extend %padding-post;
    font-size: 0.9em;
    text-align: center;

    ul {
        @extend %no-bullets;
        @extend %flexible-2d-block;
        justify-content: center;
    }
}
