@use "../variables";
@use "../utility";

.site-header {
    @extend %uncolored-link;
    padding: 2% 2% 1% 2%;
    display: flow-root;

    .avatar {
        height: 3em;
        width: 3em;
        float: left;
        margin-top: -13px;
        border-radius: 0.9em;
        margin-right: 0.5em;
        padding: 10px 10px;

    }

    .site-title {
        float: left;
        font-weight: bold;
        font-size: 1.3em;
    }

    nav {
        list-style: none;
        margin: 0;
        padding: 0;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            line-height: 1.5;
            float: right;
            display: block;
        }
        li {
            display: inline-block;
            margin-inline-start: 0.9em;

            &:first-child {
                margin-inline-start: 0.45em;
            }
        }
        a#pull {
            i {
                margin-top: 22px;
                margin-right: 18px;
                float: right;
            }
        }
    }
}

/* ---- Responsive ---- */

@media not (max-width: variables.$break) {
    a#pull, .navbar-icon-text {
        display: none;
    }
}

@media screen and (max-width: variables.$break) {
    .site-header {
        img.avatar {
            margin-top: -7px
        }
        .site-title {
            margin-top: 7px;
        }

        nav {
            height: auto;

            ul {
                width: 100%;
                transition: opacity .25s 0s, font-size .25s 0s;

                &.hide {
                    font-size: 0;
                    margin: 0;
                    opacity: 0;
                    padding: 0;
                }
            }

            li {
                width: 100%;
                text-align: center;
                font-size: 1em;
                margin-inline: 0 !important;
            }

            a {
                width: 100%;
                display: block;
            }

            @media (scripting: none) {
                a#pull {
                    display: none;
                }

                ul.hide {
                    font-size: inherit;
                    margin: inherit;
                    opacity: inherit;
                    padding: inherit;
                }
            }
        }
    }
}
