---
layout: default
---

<article class="page-body">
  <header id="main"
  {%- if page.feature-img %} style="background-size: cover; background-image: url('{{ page.feature-img | relative_url }}')"{% endif -%}
  >
    <div class="title-padder">
      <h1 id="{{ page.title | default: "" | cgi_escape }}" class="title">{{ page.title | smartify }}</h1>
      {% if page.subtitle -%}
      <h2 class="subtitle">{{ page.subtitle | smartify }}</h2>
      {%- endif %}
    </div>
  </header>
  <section class="post-content">
    {% unless layout.no_anchor %}
      {% include anchor_headings.html html=content h_max=4 anchorBody="<svg class='octicon' viewBox='0 0 16 16' version='1.1' width='16' height='32' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>" %}
    {% else %}
      {{ content }}
    {% endunless %}
  </section>
</article>
