---
layout: default
---

<main class="page-body">
  <header id="main"
  {%- if page.feature-img %} style="background-size: cover; background-image: url('{{ page.feature-img | relative_url }}')"{% endif -%}
  >
    <hgroup>
      <h1 id="{{ page.title | default: "" | cgi_escape }}" class="title">{{ page.title | smartify }}</h1>
      {% if page.subtitle -%}
      <h2 class="subtitle">{{ page.subtitle | smartify }}</h2>
      {%- endif %}
    </hgroup>
  </header>
  <div class="page-content">
    {{ content }}
  </div>
</main>

{% include pagination.html %}
