---
layout: default
---

<article class="feature-image">
  <header id="main"
  {% if page.feature-img %}
  style="background-image: url('{{ page.feature-img | relative_url }}')"
  {% else %}
  style="background-size: auto; background-image: url('{{ site.theme_settings.header_feature_image | relative_url }}')"
  {% endif %}
  >
    <h1 id="{{ page.title | default: "" | cgi_escape }}" class="title">
        {{ page.title | markdownify | strip_html }}
    </h1>
    
    {% if page.subtitle %}
    <h2 class="subtitle">{{ page.subtitle }}</h2>
    {% endif %}
      
  </header>
  <section class="post-content">
	{{ content }}
  </section>
</article>
