---
layout: default
---
<article class="page-body">
  <header id="main"
  {% if page.feature-img %}
  style="background-size: cover; background-image: url('{{ page.feature-img | relative_url }}')"
  {% endif %}
  >
    {% include overlay_logo.html %}
    <div class="title-padder">
      <h1 id="{{ page.title | cgi_escape }}" class="title">{{ page.title | smartify }}</h1>
      <p class="meta">
	{% if page.custom-date %}{{ page.custom_date }}
	{% else %}{{ page.date | date: page.date-format }}{% endif %}
      {% if page.last_modified_at %}(edited {{ page.last_modified_at | date: page.date-format }}){% endif %}
      </p>
      <p class="meta">
        {% include ert.html content=content %} min. to read
      </p>
    </div>
  </header>
  <section class="post-content">
    {% unless layout.no_anchor %}
      {% include anchor_headings.html html=content h_max=4 anchorBody="<svg class='octicon' viewBox='0 0 16 16' version='1.1' width='16' height='32' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>" %}
    {% else %}
      {{ content }}
    {% endunless %}
  </section>
  
  <!-- Social media shares -->
  {% include share_buttons.html %}
   
   <!-- Tag list -->
  {% capture tag_list %}{{ page.tags | join: "|"}}{% endcapture %}
  {% include tags_list.html tags=tag_list %}
</article>

<!-- Disqus -->
{% if site.theme_settings.disqus_shortname %}
<div class="comments">
  {% include disqus.html %}
</div>
{% endif %}

<!-- Post navigation -->
{% if site.theme_settings.post_navigation %}
  {% include post_nav.html %}
{% endif %}