---
layout: page
---

<!-- cycles through posts to get tags -->
{% assign rawtags = "" %}
{% for post in site.posts %}
{% if post.tags.size > 0 %}
{% assign post_tags = post.tags | join:'|' | append:'|' %}
{% assign rawtags = rawtags | append:post_tags %}
{% endif %}
{% endfor %}

<!-- cycles through portfolio collection to get tags -->
{% assign portfolio =  site.portfolio | map: 'tags' | join: ','  | split: ',' | uniq %}
{% for tag in portfolio %}
{% assign portfolio_tags = tag | join: '|' | append: '|' %}
{% assign rawtags = rawtags | append: portfolio_tags %}
{% endfor %}

<!-- cycles through pages to get tags -->
{% for page in site.pages %}
{% if page.tags.size > 0 %}
{% assign page_tags = page.tags | join:'|' | append:'|' %}
{% assign rawtags = rawtags | append:page_tags %}
{% endif %}
{% endfor %}

<!-- Displays the list of tags-->
{% include tags_list.html tags=rawtags %}

    <!-- Displays the posts and pages that contains the tag-->
    {% for tag in tags %}
    <section>    
        <h2 id="{{ tag | cgi_escape }}" class="tag-anchor no_anchor">
            <a href="#{{ tag | cgi_escape }}"><i class="fas fa-tag fa-fw"></i> {{ tag }}</a>
            <a href="/feed/by_tag/{{ tag | cgi_escape }}.xml" title="{{ site.theme_settings.str_rss_follow }}"><i class="fas fa-rss"> </i> </a>
            <a href="#top" class="right"><i class="fas fa-chevron-up" aria-hidden="true"> </i> </a>

        </h2>

        <!-- Posts and collection for each tags -->
        <ul class="tag-posts">

            <!-- Pages -->
            {% for page in site.pages %}
                {% unless page.collection == 'posts' %}
                    {% if page.tags contains tag %}
                    <li>
                        <a href="{{ page.url | relative_url }}">
                            <i class="far fa-file-image" aria-hidden="true"></i>
                            {{ page.title | smartify }}
                        </a>
                        
                        <span class="meta">
                            {{ "today" | date: page.date-format }}
                        </span>
                    </li>
                    {% endif %}
                {% endunless %}
            {% endfor %} 
            
            <!-- Posts -->
            {% for post in site.posts %} 
                {% if post.tags contains tag %}
                <li>
                    <a href="{{ post.url | relative_url }}">
                        <i class="far fa-file-alt" aria-hidden="true"></i>
                        {{ post.title | smartify }}
                    </a>
                    
                    <span class="meta">
                        {{ post.date | date: page.date-format }}
                        {% if post.last_modified_at %}(edited {{ post.last_modified_at | date: page.date-format }}){% endif %}
                    </span>
                </li>
                {% endif %} 
            {% endfor %} 
            
            <!-- Portfolio -->
            {% for note in site.portfolio %} 
                {% if note.tags contains tag %}
                <li>
                    <a href="{{ note.url | relative_url }}">
                        <i class="far fa-file" aria-hidden="true"></i>
                        {{ note.title | smartify }}
                    </a>
                
                    <span class="meta">
                        {{ note.date | date: page.date-format }}
                        {% if note.last_modified_at %}(edited {{ note.last_modified_at | date: page.date-format }}){% endif %}
                    </span>
                </li>
                {% endif %} 
            {% endfor %}

        </ul>
    </section>
    {% endfor %}
