* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

figure {
    margin: 0;
}

// For correct line number width in Github Gists
.gist table tbody tr td {
    box-sizing: content-box;
}

html {
    background: $background-color;
}

// Typography
body {
    color: $text-color;
    font-family: $font-family;
    font-optical-sizing: auto;
    font-size: $font-size;
    word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.3;
    margin: 0.67em 0;

    a {
        color: var(--header-link-color);
    }
}

h1, .heading-big {
    font-size: 2.3em;
}

h2 {
    font-size: 1.75em;
}

h3, summary {
    font-size: 1.5em;
}

h4 {
    font-size: 1.15em;
}

q {
    &:lang(pl) {
        quotes: "\201E" "\201D" "\00BB" "\00AB";
    }

    &:before {
        content: open-quote;
    }

    &:after {
        content: close-quote;
    }
}

blockquote {
    @extend %highlight-block;
    margin: 1em;
}

blockquote, footer, details {
    > :last-child {
        margin-bottom: 0;
    }
}

table {
    table-layout: fixed;
    width: 100%;
    word-wrap: break-word;
    display: inline-block;
}

td,
th {
    padding: 0.5em 1em;
    border: 1px solid var(--line-color);
    text-align: left;
}

table,
dl,
kbd,
samp {
    margin: 1em 0;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 2em;
}

p,
ol,
ul,
dl,
details {
    line-height: 1.5;
    margin-bottom: 1em;
}

figcaption {
    font-style: italic;
    text-align: center;
}

// Lists within lists
li {
    p,
    figcaption {
        font-size: inherit;
    }

    p,
    &>ul,
    &>ol {
        margin-bottom: 0.5em;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

ol,
ul {
    list-style-position: outside;
    margin-left: 1em;
}

hr {
    border: 0;
    border-top: 1px solid var(--line-color);
    margin: 1em 0;
}

a {
    color: $link-color;
    text-decoration: none;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

summary {
    font-weight: bold;
    line-height: 1.3;
    &::marker {
        @extend %fa-icon;
        content: '\f054  ';
    }
}

details[open] > summary {
    margin-bottom: 0.67em;
    &::marker {
        content: '\f077  ';
    }
}

pre {
    overflow-x: auto; /*add scrollbars to wide code blocks*/
}

abbr[title] {
    text-decoration: none;

    &:after {
        content: " (" attr(title) ")";
    }
}

@media (hover: hover) {
    abbr[title] {
        border-bottom: 1px dotted;
        cursor: help;

        &:after {
            content: "";
        }
    }
}

iframe,
img,
embed,
object,
video {
    max-width: 100%;
    padding: 0 9%;
    margin-left: auto;
    margin-right: auto;
}

img[align=left] {
    margin-right: 3%;
}

img[align=right] {
    margin-left: 3%;
}

summary {
    cursor: pointer;
}

#markdown-toc, .additional-toc {
    font-weight: bold;
}

/* ---- Responsive ---- */

@media screen and (max-width: $break) {
    h1, .heading-big {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3, summary {
        font-size: 1em;
    }

    h4,
    tr,
    th,
    .meta {
        font-size: 0.9em;
    }

    p,
    li,
    figcaption,
    dt,
    dd,
    td {
        font-size: 0.8em;
    }

    li li {
        font-size: 0.95em;
    }

    li li * {
        font-size: 100%;
    }

    iframe,
    img,
    embed,
    object,
    video {
        max-width: 100%;
        padding: 0 1%;
    }
}

@media screen and (max-width: $sm-break) {
    h1, .heading-big {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1em;
    }

    h3, summary {
        font-size: 0.9em;
    }

    h4,
    th,
    tr,
    .meta {
        font-size: 0.85em;
    }

    table {
        overflow-x: scroll;
    }
}