@use "variables";
@use "external/fontawesome-glue" as fa;
@use "sass:color";

// Mix-ins
%padding-nav {
    padding: variables.$padding-small variables.$padding-x-large;

    @media (max-width: variables.$xl-break) {
        padding: variables.$padding-small variables.$padding-large * 2;
    }

    @media (max-width: variables.$l-break) {
        padding: variables.$padding-small variables.$padding-large;
    }

    @media (max-width: variables.$m-break) {
        padding: variables.$padding-small variables.$padding-medium;
    }

    @media (max-width: variables.$sm-break) {
        padding: variables.$padding-small variables.$padding-x-small;
    }
}

%padding-post {
    padding: variables.$padding-x-small variables.$padding-x-large;

    @media (max-width: variables.$xl-break) {
        padding: variables.$padding-x-small variables.$padding-large * 2;
    }

    @media (max-width: variables.$l-break) {
        padding: variables.$padding-x-small variables.$padding-large;
    }

    @media (max-width: variables.$m-break) {
        padding: variables.$padding-x-small variables.$padding-medium;
    }

    @media (max-width: variables.$sm-break) {
        padding: variables.$padding-x-small variables.$padding-small;
    }
}

%header-txt-shadow {
    text-shadow: 2px 2px 3px variables.$text-shadow,
        -2px 2px 3px variables.$text-shadow,
        2px -2px 3px variables.$text-shadow,
        -2px -2px 3px variables.$text-shadow;
}

// Buttons
.button {
    border-radius: 0.3em;
    border: 2px solid;
    display: inline-block;
    padding: 0.5em 0.75em;
    font-weight: 500;


    &.smaller {
        padding: 0.25em 0.375em;
    }

    &.thinner {
        border-width: 1px;
        font-weight: 400;
    }

    @at-root button#{&} {
        @extend .thinner;
        -webkit-appearance: none;
        background-color: transparent;
    }

    @at-root a#{&},
    button#{&} {
        @extend %button-link;
        color: variables.$link-color;

        &.github {
            color: var(--github-link-color);
        }

        &.docs {
            color: var(--important-link-color);
        }

        &.forums {
            color: var(--forums-link-color);
        }

        &.patreon {
            color: variables.$patreon-link-color;
        }

        &.paypal {
            color: variables.$paypal-link-color;
        }

        &.gog {
            color: var(--gog-link-color);
        }

        &.steam {
            color: var(--steam-link-color);
        }
    }
}

.flexible-buttons {
    @extend %flexible-2d-block;
}

%button-link {
    &:hover {
        background: variables.$link-color;
        border-color: variables.$link-color;
        color: variables.$background-color;
        text-decoration: none;
    }

    &.github {
        &:hover {
            background: var(--github-link-color);
            border-color: var(--github-link-color);
        }
    }

    &.docs {
        &:hover {
            background: var(--important-link-color);
            border-color: var(--important-link-color);
        }
    }

    &.forums {
        &:hover {
            background: var(--forums-link-color);
            border-color: var(--forums-link-color);
        }
    }

    &.patreon {
        &:hover {
            background: variables.$patreon-link-color;
            border-color: variables.$patreon-link-color;
        }
    }

    &.paypal {
        &:hover {
            background: variables.$paypal-link-color;
            border-color: variables.$paypal-link-color;
        }
    }

    &.ko-fi {
        &:hover {
            background: variables.$ko-fi-link-color;
            border-color: variables.$ko-fi-link-color;
        }
    }

    &.gog {
        &:hover {
            background: var(--gog-link-color);
            border-color: var(--gog-link-color);
        }
    }

    &.steam {
        &:hover {
            background: var(--steam-link-color);
            border-color: var(--steam-link-color);
        }
    }
}

// TODO: This will eventually become 'button rounder inverse'
.round-button {
    border-radius: 1.5em;
    border: 1px solid;
    display: inline-block;
    padding: 0.5em 0.75em;
}

a.round-button {
    @extend %round-button-link;

    &.github {
        background-color: var(--github-link-color);
    }

    &.docs {
        background-color: var(--important-link-color);
    }

    &.forums {
        background-color: var(--forums-link-color);
    }

    &.patreon {
        background-color: variables.$patreon-link-color;
    }

    &.paypal {
        background-color: variables.$paypal-link-color;
    }

    &.ko-fi {
        background-color: variables.$ko-fi-link-color;
    }

    &.gog {
        color: var(--gog-link-color);
    }

    &.steam {
        color: var(--steam-link-color);
    }
}

%round-button-link {
    &:hover {
        border-color: variables.$link-color;
        text-decoration: none;
    }

    color: variables.$background-color;

    &.github {
        &:hover {
            background: var(--github-link-hover-color);
            border-color: var(--github-link-hover-color);
        }

        background: var(--github-link-color);
        border-color: var(--github-link-color);
    }

    &.docs {
        &:hover {
            background: var(--important-link-hover-color);
            border-color: var(--important-link-hover-color);
        }

        background: var(--important-link-color);
        border-color: var(--important-link-color);
    }

    &.forums {
        &:hover {
            background: var(--forums-link-hover-color);
            border-color: var(--forums-link-hover-color);
        }

        background: var(--forums-link-color);
        border-color: var(--forums-link-color);
    }

    &.patreon {
        &:hover {
            background: color.adjust(variables.$patreon-link-color, $lightness: -15%);
            border-color: color.adjust(variables.$patreon-link-color, $lightness: -15%);
        }

        background: variables.$patreon-link-color;
        border-color: variables.$patreon-link-color;
    }

    &.paypal {
        &:hover {
            background: color.adjust(variables.$paypal-link-color, $lightness: -15%);
            border-color: color.adjust(variables.$paypal-link-color, $lightness: -15%);
        }

        background: variables.$paypal-link-color;
        border-color: variables.$paypal-link-color;
    }

    &.ko-fi {
        &:hover {
            background: color.adjust(variables.$ko-fi-link-color, $lightness: -15%);
            border-color: color.adjust(variables.$ko-fi-link-color, $lightness: -15%);
        }

        background: variables.$ko-fi-link-color;
        border-color: variables.$ko-fi-link-color;
    }
}

%body-link {
    &:hover {
        text-decoration: underline;
        color: color.adjust(variables.$link-color, $lightness: -15%);
    }
}

%flexible-2d-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.25em;
}

%highlight-block {
    border-left: 2px solid var(--blockquote-border-color);
    padding: 0.75em 1em;
    background-color: var(--blockquote-color);
    box-shadow: 0 2px 2px color.adjust(variables.$text-color-light, $alpha: -0.75);
}

%no-bullets {
    list-style-type: none;
    margin-inline-start: 0;
    line-height: 1.25;
}

%fa-before-after-icon {
    &:before, &:after {
        @extend %fa-icon;
        @extend .fa-solid;
    }
    &:before {
        margin-inline-end: 0.25em;
    }
    &:after {
        margin-inline-start: 0.25em;
    }
}

.dl-no-indent {
    dd {
        margin-left: 0;
        margin-bottom: 1em;
    }
}

// Custom
.center-blocks {
    display: flex;
    justify-content: center;
    gap: 0.25em;
}

.right {
    float: right;
}

.upcase {
    text-transform: uppercase;
}

.pre-wrap {
    pre {
        text-wrap-mode: wrap;
    }
}

.left-page-margin {
    @media not (max-width: variables.$break) {
        margin-inline-start: 2em;
    }
}

.disclaimer {
    font-weight: bold;

    &.warning {
        @extend %fa-before-after-icon;
        &:before, &:after {
            content: fa.fa-content(fa.$fa-var-triangle-exclamation);
            color: DarkOrange;
        }
    }

    &.info {
        @extend %fa-before-after-icon;
        &:before, &:after {
            content: fa.fa-content(fa.$fa-var-circle-info);
        }
    }
}

.credit, .sidenote {
    font-style: italic;
}

.theme-icon {
    @extend %fa-icon;
    @extend .fa-solid;
}